
@{
    ViewData["Title"] = "AddProductSuccess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>A New Product Is Added </h1>
<img src="~/img/Add files-cuate.png" align="middle" width="45%" />

