
@{
<<<<<<< HEAD
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
=======
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h1>Index</h1>*@
>>>>>>> c2b66603173a517aff36ceaa840e1e73af4ac203

